.App {
  text-align: center;
  background-color: #d8d7d7;
}

.App-Header {
  display: flex;
}

.App-Head {
  display: flex;
  padding: 20px;
}

.App-View {
  background-color: white;
}

.App-ShowFormCustomer {
  display: flex;
}

.App-TableList, .App-FormNewCustom {
  background-color: white;
  align-items: flex-start
}
